$colors: (
  brand: "#0652dd",
  brand-100: "#cddcf8",
  brand-200: "#9bbaf1",
  brand-300: "#6a97eb",
  brand-400: "#3875e4",
  brand-500: "#0542b1",
  brand-600: "#043185",
  brand-700: "#022158",
  brand-800: "#01102c",
  white-200: hsl(220, 20%, 98%),
  black-200: #151515,
);
